<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

<div id="app">
    <h1>Product: {{ beverage.type }}</h1>
    <p>Size: {{ beverage.size }}</p>
    <div v-if="beverage.decorators.length > 0">
        <ul>
            <li v-for="(decorator, index) in beverage.decorators">
                Add {{ decorator.description }} for {{ decorator.cost }}
                <button @click="removeDecorator(index)">Remove</button>
            </li>
        </ul>
    </div>
    <p>Cost: {{ totalCost }}</p>
    <button @click="selectProduct('black')">Black Coffee</button>
    <button @click="selectProduct('iced')">Iced Coffee</button>
    <button @click="selectProduct('blonde')">Blonde Coffe</button>
    <br><br>
    <button @click="setSize('small')">Small</button>
    <button @click="setSize('med')">Medium</button>
    <button @click="setSize('large')">Large</button>
    <br><br>
    <button @click="addMilk()">Add Milk</button>
    <button @click="addMocha()">Add Mocha</button>
    <button @click="addWhippedCream()">Add Whipped Cream</button>
    <br><br>
    <button @click="clearAdditions()">Clear Additions</button>
</div>

<script>

    var vm1 = new Vue
    ({
        el: "#app",

        data:
        {
            beverage: 
            {
                type: "Black Coffee",
                baseCost: 1.00,
                size: "small",
                decorators: []
            }
        },

        methods:
        {
            selectProduct(name)
            {
                switch(name)
                {
                    case "black":
                        this.beverage.type = "Black Coffee";
                        this.beverage.baseCost = 1.00;
                        break;
                    case "iced":
                        this.beverage.type = "Iced Coffee";
                        this.beverage.baseCost = 1.25;
                        break;
                    case "blonde":
                        this.beverage.type = "Blonde Coffee";
                        this.beverage.baseCost = 1.50;
                        break;
                    default:
                        this.beverage.type = "Black Coffee";
                        this.beverage.baseCost = 1.00;
                }
            },

            addMilk()
            {
                this.beverage.decorators.push
                (
                    {
                        description: "milk",
                        cost: 0.50
                    }
                );
            },

            addMocha()
            {
                this.beverage.decorators.push
                (
                    {
                        description: "mocha",
                        cost: 1.00
                    }
                );
            },

            addWhippedCream()
            {
                this.beverage.decorators.push
                (
                    {
                        description: "whipped cream",
                        cost: 0.50
                    }
                );
            },

            clearAdditions()
            {
                this.beverage.decorators = [];
            },

            setSize(size)
            {
                this.beverage.size = size;
            },

            removeDecorator(index)
            {
                this.beverage.decorators.splice(index, 1);
            }
        },

        computed:
        {
            totalCost()
            {
                var total = this.beverage.baseCost;

                if(this.beverage.size == "med")
                {
                    total += (total * 0.25);
                }
                else if(this.beverage.size == "large")
                {
                    total += (total * 0.5);
                }

                for(var i = 0; i < this.beverage.decorators.length; i++)
                {
                    total += this.beverage.decorators[i].cost;
                }

                return total;
            },

            productDescription()
            {
                var fullDescription = this.beverage.type;

                for(var i = 0; i < this.beverage.decorators.length; i++)
                {
                    fullDescription += this.beverage.decorators[i].description;
                }

                return fullDescription;
            }
        }
    });

</script>
